<header class="bg-white tc pv3 ph4 shadow-2">
  <div class="mw8 center flex items-center justify-between flex-wrap">
    <div class="flex items-center">
      <a href="/" class="link dib mr4">
        <img src="/img/logo.svg" alt="ReviByte" class="w3">
      </a>
      <nav class="dn db-l">
        <a href="/" class="link black f5 f4-l dib mr4">Home</a>
        <a href="/samsung" class="link black f5 f4-l dib mr4">Samsung</a>
        <a href="/apple" class="link primary f5 f4-l dib mr4 b">Apple</a>
        <a href="/android" class="link black f5 f4-l dib mr4">Android</a>
        <a href="/ai" class="link black f5 f4-l dib mr4">Ai</a>
        <a href="/reviews" class="link black f5 f4-l dib">Reviews</a>
        <a href="/Games" class="link black f5 f4-l dib">Games</a>
        <a href="/technology" class="link black f5 f4-l dib">Technology</a>
      </nav>
    </div>
  </div>
</header>
